aiohttp>=3.8.0
aiohttp[speedups]>=3.8.0
aiosqlite>=0.17.0
beautifulsoup4>=4.10.0
emoji>=1.6.1
orjson>=3.6.4
telethon>=1.23.0
lxml>=4.6.4
tabulate>=0.8.9
uvloop>=0.16.0; sys_platform == "linux"
